*{
    padding: 0;
    margin: 10;
    
    background-color: antiquewhite;
    line-height: 150%;
    
   /* border: 1px solid black;*/

}

header{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: -30px 10px;
    margin: 1 auto;
}
header>i{
    font-size: 1.5rem;
    font-weight: 800; 
}
header>p{
    font-size: 1.5rem;
    font-weight: 800;
    
}
nav{
    padding: 0 30em;
}
nav>ul{
    display: flex;
    
}
nav>ul>li{
    list-style-type: none;
    margin-left: 3.0em;
    font-weight: 800;
    
}
nav>ul>li>a{
    text-decoration: none;
    
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 6px;
}
nav>ul>li:first-child>a{
    border-bottom: 5px solid black;
}